/* COL LAYOUT */

.box {
	min-height: 120px;
	line-height: 120px;
	text-align: center;
	border: 2px dashed black;
	background-color: pink;
	padding: 15px;

	width: 100%;
}

[class*="col"] [class*="col"] .box {
	background-color: coral;
}

[class*="col"] [class*="col"] [class*="col"] .box {
	background-color: skyblue;
}

/* GENERAL */

/* MAIN STYLE */

/* ASIDE */

aside {
	background-color: black;
	height: 90vh;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media screen and (min-width: 600px) {
	aside {
		min-width: 200px;
	}
}
@media screen and (max-width: 480px) {
	aside {
		max-width: 50px;
	}
}

.logo {
	width: 10rem;
	padding: 1rem;
}

.navlinks {
	color: #4b4e55;
	padding: 0.5rem 1rem;
}

.navlinks:hover {
	color: lightgray;
	border-left: 2px solid lightgreen;
}

.ul {
	list-style: none;
	padding: 0.5rem 1rem;
}

li {
	color: #4b4e55;
	padding: 0.2rem 1rem;
}

li:hover {
	color: lightgray;
}


.big-icon {
	font-size: 1.5rem;
	padding-right: 1rem;
}

.fa-circle-arrow-down {
    padding-right: 1rem;
}

hr {
	margin: 0rem 1rem;
	border-color: #4b4e55;
}

.logosmall {
	width: 10rem;
	padding: 0.5rem;
}

@media screen and (max-width: 480px) {
	.asidetext {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	ul {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	hr {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	.logo {
		display: none;
	}
}

@media screen and (min-width: 600px) {
	.logosmall {
		display: none;
	}
}

/* MAIN SECTION */

main {
	display: flex;
	flex-direction: row;
}

.main-container {
	background-color: #141922;
	height: 90vh;
	flex-grow: 4;
	overflow-y: scroll;
}

/* HEADER STYLE */

header {
	background-color: #080b12;
	position: fixed;
	opacity: 0.7;
	width: calc(100% - 200px)
}

@media screen and (max-width: 480px) {
	header {
		width: 100%;
	}
}

div > header {
	text-align: right;
	padding: 0.5rem;
}

.upgrade {
	color: white;
	border: 1px solid white;
	border-radius: 50px;
	padding: 0.5rem 1.5rem;
	font-size: 0.8;
}

.upgrade:hover {
	transform: scale(1.1);
}

@media screen and (max-width: 480px) {
	.upgrade {
		margin-right: 3.5rem;
	}
}

/* SECTION STYLE */

section {
	margin-top: 5rem;
}

.links {
	text-align: center;
}

a:hover {
	color: lightgray;
	border-bottom: 2px solid lightgreen;
}

a {
	color: #4b4e55;
	text-decoration: none;
	display: inline-block;
	margin: 1rem 0.5rem;
}

h2 {
	color: white;
	font-size: 1.5rem;
	margin: 1rem;
}

.subtitle {
	margin: 1rem;
}

h3 {
	color: white;
	margin: 0.5rem;
}

.artist {
	color: #4b4e55;
	margin: 0.5rem;
}

.profilepic {
	border-radius: 50%;
}

.col-2 {
	min-width: 120px;
	max-width: 150px;
	max-width: 150px;
	margin: 2rem 1rem;
	position: relative;
}

.playhover {
	position: absolute;
	right: 35%;
	top: 20%;
	display: none;
}

.playhover:hover {
    display: block;
}

.card:hover {

}

@media screen and (max-width: 1000px) {
	.row {
		max-width: 700px;
	}
}

/* FOOTER STYLE */

footer {
	height: 10vh;
	background-color: #282828;
	display: flex;
}

.botcol-left {
	height: 10vh;
	flex-grow: 1;
	display: flex;
}

.botcol-mid {
	height: 10vh;
	flex-grow: 2;
	display: flex;
	flex-direction: column;
}

.playeroptions {
	text-align: center;
}

.playerprogress {
	text-align: center;
}

.bar {
	height: 5px;
	width: 50%;
	background-color: gray;
	display: inline-block;
	vertical-align: middle;
}

.progressbar {
    height: 5px;
	width: 30%;
	background-color: white;
	vertical-align: middle;
    position: relative;
}

.progressbar::after {
	content: "";
	height: 15px;
	width: 15px;
	border-radius: 50px;
	background-color: whitesmoke;
	position: absolute;
	left: 95%;
	bottom: -5px;
}

.progressbar:hover {
	background-color: limegreen;
}

.botcol-right {
	height: 10vh;
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.volumebar {
    height: 5px;
	width: 50%;
	background-color: gray;
	display: inline-block;
}

.volumeprogress {
	height: 5px;
	width: 30%;
	background-color: white;
	position: relative;
}

.volumeprogress::after {
	content: "";
	height: 15px;
	width: 15px;
	border-radius: 50px;
	background-color: whitesmoke;
	position: absolute;
	left: 90%;
	bottom: -5px;
}

.volumeprogress:hover {
	background-color: limegreen;
}

.half-left {
	flex-grow: 1;
	display: flex;
}

.active {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.activetrack {
    font-size: 0.8rem;
	color: white;
	padding-left: 0.5rem;
}

.activetrack:hover {
	color: limegreen;
	text-decoration: underline;
}

.activeartist {
    font-size: 0.8rem;
	color: #4b4e55;
	padding-left: 0.5rem;
}

.activeartist:hover {
	color: lightgrey;
	text-decoration: underline;
}

.half-right {
	display: flex;
	flex-grow: 1;
	align-items: center;
}

.boticon {
	color: white;
	padding: 0.5rem 0.5rem;
	vertical-align: middle;
}

.fa-circle-play {
	color: white;
	font-size: 1.5rem;
	padding: 0.5rem 0.5rem;
	vertical-align: middle;
}

.fa-circle-play:hover {
    transform: scale(1.2);
}

.time {
	color: white;
	vertical-align: middle;
	font-size: 0.7rem;
}

.fa-heart {
	padding: 0.5rem;
	color: #4b4e55;
}

.fa-heart:hover {
	color: lightgrey;
}

.fa-folder {
	color: #4b4e55;
}

.fa-folder:hover {
	color: lightgrey;
}

@media screen and (max-width: 600px) {
	.boticon {
		font-size: 0.7rem;
		padding: 0.2rem;
	}
}

@media screen and (max-width: 600px) {
	.half-right{
		flex-direction: column;
	}
}

@media screen and (max-width: 600px) {
	.activetrack {
		font-size: 0.5rem;
	}
}

@media screen and (max-width: 600px) {
	.activeartist {
		font-size: 0.5rem;
	}
}

@media screen and (max-width: 600px) {
	.botcol-right {
		margin-right: 1rem;
	}
}




