/* COL LAYOUT */

.box {
	min-height: 120px;
	line-height: 120px;
	text-align: center;
	border: 2px dashed black;
	background-color: pink;
	padding: 15px;

	width: 100%;
}

[class*="col"] [class*="col"] .box {
	background-color: coral;
}

[class*="col"] [class*="col"] [class*="col"] .box {
	background-color: skyblue;
}

/* GENERAL */

/* MAIN STYLE */

/* ASIDE */

aside {
	background-color: black;
	height: 90vh;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media screen and (min-width: 600px) {
	aside {
		min-width: 200px;
	}
}
@media screen and (max-width: 480px) {
	aside {
		max-width: 50px;
	}
}

.logo {
	width: 10rem;
	padding: 1rem;
}

.navlinks {
	color: #4b4e55;
	padding: 0.5rem 1rem;
}

.playlist {
	color: #4b4e55;
	padding: 0.5rem 1rem;
}

.big-icon {
	font-size: 1.5rem;
	padding-right: 1rem;
}

.fa-circle-arrow-down {
    padding-right: 1rem;
}

hr {
	margin: 0rem 1rem;
	border-color: #4b4e55;
}

/* MAIN SECTION */

main {
	display: flex;
	flex-direction: row;
}

.main-container {
	background-color: #141922;
	height: 90vh;
	flex-grow: 4;
	overflow-y: scroll;
}

/* HEADER STYLE */

header {
	background-color: #080b12;
}

div > header {
	text-align: right;
	padding: 2rem;
}

.upgrade {
	color: white;
	border: 1px solid white;
	border-radius: 50px;
	padding: 0.5rem 1.5rem;
}

/* SECTION STYLE */

.links {
	text-align: center;
}

a {
	color: #4b4e55;
	text-decoration: none;
	display: inline-block;
	margin: 1rem 0.5rem;
}

h2 {
	color: white;
	font-size: 1.5rem;
	margin: 1rem;
}

.subtitle {
	margin: 1rem;
}

h3 {
	color: white;
	margin: 0.5rem;
}

.artist {
	color: #4b4e55;
	margin: 0.5rem;
}

.profilepic {
	border-radius: 50%;
}

.col-2 {
	min-width: 120px;
	max-width: 150px;
	max-width: 150px;
	margin: 2rem 1rem;
}

@media screen and (max-width: 1000px) {
	.row {
		max-width: 700px;
	}
}

/* FOOTER STYLE */

footer {
	height: 10vh;
	background-color: darkgray;
	display: flex;
}

.botcol-left {
    background-color: brown;
	border: 2px dashed black;
	height: 10vh;
	flex-grow: 1;
	display: flex;
}

.botcol-mid {
    background-color: brown;
	border: 2px dashed black;
	height: 10vh;
	flex-grow: 2;
}

.botcol-right {
    background-color: brown;
	border: 2px dashed black;
	height: 10vh;
	flex-grow: 1;
}

.half-left {
    display: flex;
	flex-grow: 1;
}

.active {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.activetrack {
    font-size: 0.8rem;
	color: white;
}

.activeartist {
    font-size: 0.8rem;
	color: #4b4e55;
}

.half-right {
	display: flex;
	flex-grow: 1;
}